* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: grey;
}

$sizeh: calc(100vh / 18);
$sizew: calc(100vw - (5*$sizeh));

.scoreboard {
    position: fixed;
    top: 1px;
    left: 50vw;
    transform: translate(-50%, 0%);
    background: gold;
    height: calc($sizeh - 2px);
    width: calc(6.6*$sizeh);
    display: flex;
    justify-content: center;
    align-items: center;
}

label,
input {
    position: relative;
    height: auto;
    background: none;
    font-weight: 900;
}

label {
    width: calc($sizeh*2);
}

input {
    width: calc($sizeh*4.6);
    border-width: 0;
}

.shootpanel,
.attackpanel {
    display: flex;
    height: $sizeh;
    width: auto;
    position: fixed;
    left: calc(50vw - ($sizeh*2.5) - ($sizeh*4/5));
    z-index: 0;
    align-items: center;
    justify-items: center;
}

.shootpanel {
    bottom: calc(1.2*$sizeh);
}

.attackpanel {
    top: calc($sizeh + 2px);
}

.shooter,
.attacker {
    position: relative;
    height: $sizeh;
    width: $sizeh;
    margin-right: calc(2*$sizeh/5);
}

.shooter {
    border-width: 2px;
}

.attacker:last-child,
.shooter:last-child {
    margin-right: 0;
}

.red {
    background: red;
}

.blue {
    background: blue;
}

.yellow {
    background: yellow;
}

.green {
    background: green;
}

.purple {
    background: purple;
}

.shootpanel .red:hover {
    background: rgb(155, 52, 52);
}

.shootpanel .blue:hover {
    background: lightblue;
}

.shootpanel .yellow:hover {
    background: rgb(207, 207, 113);
}

.shootpanel .green:hover {
    background: lightgreen;
}

.shootpanel .purple:hover {
    background: rgb(150, 81, 150);
}

.fireball {
    position: absolute;
    top: 0;
    height: calc($sizeh);
    width: calc($sizeh);
    left: 0;
    z-index: -1;
    border-radius: 50%;
    background: goldenrod;
    border: 1px solid black;
    animation: moveFireball 4s linear;
    transform-origin: top left;
}

@keyframes moveFireball {
    0% {
        top: $sizeh;
    }

    100% {
        top: calc(100vh - ($sizeh*2));
    }
}

.bullet {
    position: absolute;
    top: -2px;
    height: $sizeh;
    width: calc($sizeh*0.5);
    left: calc($sizeh*0.25 - 2px);
    border-radius: 50% 50% 0% 0%;
    z-index: -1;
    background: pink;
    animation: movebullet .3s linear;
    transform-origin: top left;
}

@keyframes movebullet {
    0% {
        top: 0;
    }

    100% {
        top: calc(($sizeh*2) - 100vh);
    }
}

.start, .gameOver, .finalScore {
    left: 50vw;
    position: fixed;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: auto;
    text-align: center;
    width: min(calc(6.6*$sizeh), 100vw);
}

.gameOver, .finalScore {
    transform: translate(-50%, 0%);
    background: Yellow;
    font-weight: 600;
    text-decoration: solid;
    font-style: italic;
}

.start {
    top: 50vh;
    transform: translate(-50%, -50%);
    background: green;
    color: black;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 1.5;
}

.gameOver { 
    color: Red;
    font-size: 25px;
    top: 20px;
}

.finalScore {
    color: green;
    font-size: 20px;
    bottom: 55px;
}

.endOfGame {
    position: relative;
    display: none;
}
